@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400; /* Peso regular */
    font-display: swap;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500; /* Peso medio */
    font-display: swap;
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700; /* Peso negrita */
    font-display: swap;
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

$font-primary: "Poppins", sans-serif;
