/* COLORS TITLES */

$primary-title: #004ec9;
$secondary-title: #03045e;
$header-title: #222222;

/* COLORS TEXT */

$primary-text: #1c1d22;

/* BACKGROUND COLORS  */

$primary-bg: #ffffff;
$secondary-bg: #fbf8f3;
$black-bg: #252222;
$primary-blue: #004ec9;
$secondary-blue: #03045e;
